body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
}

h1{
    text-align: center;
    top: 65px;
    font-size: 35px;
    font-weight: 800;
}

h2.pink{
    margin:auto;
    margin-left: 261px;
    margin-right: 0;
    width: auto;
    height: 33px;
    background-color:pink;
    min-width: 73px;
    max-width: 165px;
    font-size: 1.2rem;
    color: black;
    border: 1px solid black;
}

h2{
    margin:auto;
    margin-left: 261px;
    width: auto;
    height: 33px;
    background-color: brown;
    min-width: 58px;
    max-width: 165px;
    font-size: 1.2rem;
    border: 1px solid black;
    color:rgb(238, 251, 251);
}


h2.yellow{
    margin:auto;
    margin-left: 261px;
    width: auto;
    height: 33px;
    background-color:rgb(238, 233, 158);
    min-width: 58px;
    max-width: 165px;
    font-size: 1.2rem;
    color: black;
    border: 1px solid black

}
@media (min-width:992px) {
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,
.col-lg-11,.col-lg-12{
    float: left;
    margin-left: 40px;
    margin-top: 35px;
    padding: 20px;
}

.section{
    border: 1px solid black;
    background-color: grey;
    width: auto;
    height: 170px;
    margin-left: 1px;
    margin-right: -70px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: bisque;
    text-align: center;
    font-size: 1vw;
    min-width: 380px;
    border: 1.5px solid black;
}


.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%; left: 100px;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9{width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}


}



@media (max-width:991px) and (min-width:763px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,
    .col-md-11,.col-md-12{
        margin-left: 10px;
        margin-top: 50px;
        padding: 16px;
        float: left;
        position: static;

    }
    
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9{width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    .section{
        background-color: grey;
        color: antiquewhite;
        height: 190px;
        text-align: center;
        margin:auto;
        min-width: 340px;
        border: 1.5px solid black;
    }

    h2.pink{
        margin:auto;
        margin-left: 245px;
        margin-right: 0;
        width: auto;
        height: 33px;
        background-color:pink;
        min-width: 89px;
        max-width: 165px;
        font-size: 1.5rem;
        color: black;
        border: 1px solid black;
    }
    h2{
        margin:auto;
        margin-left: 245px;
        margin-right: 0;
        width: auto;
        height: 33px;
        background-color: brown;
        min-width: 58px;
        max-width: 165px;
        font-size: 1.5rem;
        border: 1px solid black;
        color:rgb(238, 251, 251);
    }
    h2.yellow{
        margin:auto;
        margin-left: 280px;
        width: auto;
        height: 33px;
        background-color:rgb(238, 233, 158);
        min-width: 58px;
        max-width: 165px;
        font-size: 1.5rem;
        color: black;
        border: 1px solid black;
        text-align: center;

}
}

@media (max-width:762px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,
    .col-sm-11,.col-sm-12{
        float: left;
        margin-left: 24px;
        margin-top: 24px;
        padding: 16px;
        position: static;
    }
    
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .section{
        background-color: grey;
        min-width: 300px;
        height: 150px;
        color: antiquewhite;
        text-align: center;
        border: 1.5px solid black;
        min-width: 340px;
    }

    h2.pink{
        margin:auto;
        margin-left: 275px;
        margin-right: 0;
        width: auto;
        height: 33px;
        background-color:pink;
        min-width: 49px;
        max-width: 145px;
        font-size: 1.7rem;
        color: black;
        border: 1px solid black;
    }
    h2{
        margin:auto;
        margin-left: 275px;
        margin-right: 0;
        width: auto;
        height: 33px;
        background-color: brown;
        min-width: 49px;
        max-width: 135px;
        font-size: 1.7rem;
        border: 1px solid black;
        color:rgb(238, 251, 251);
    }
    h2.yellow{
        margin:auto;
        margin-left: 261px;
        width: auto;
        height: 33px;
        background-color:rgb(238, 233, 158);
        min-width: 58px;
        max-width: 135px;
        font-size: 1.7rem;
        color: black;
        border: 1px solid black;
}





}


